@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dela Gothic One', cursive;
  text-transform: uppercase;
}

.container {
  max-width: auto;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 0px solid steelblue;
  padding: 30px;
  border-radius: 10px;
}

.landing {
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 30px;
}

.cta {
  display: flex;
  flex-direction: column;
  max-width: auto;
  margin: 30px;
  align-content: space-between;
  line-height: 1.5;
}

.landing-lottie {
  overflow: hidden;

}

.logo {
  margin: -100px auto auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #F5E6D1;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  text-transform: uppercase;
}
.btn-landing {
  max-width: fit-content;
  background: #F5E6D1;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  text-transform: uppercase;
}

.btn-close {
  display: inline-block;
  background: red;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.tasks {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.add-form {
  margin-bottom: 40px;
  max-width: 800px;
  margin: auto;
  min-height: 300px;
  border: 0px solid steelblue;
  
  padding: 30px;
  
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.about {
  text-align: center;
  margin-top: 20px;
}

.about-lottie {
  overflow: hidden;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;

  
}